@using ServerChessBoard.Models;
<h3>Chessboard</h3>

<div class="chessboard">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public List<ChessPiece> Pieces { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<ChessModel> OnStatusUpdated { get; set; }

    public ChessModel Payload { get; set; }

    public async Task UpdateJobAsync(int[] newPosition)
    {
        var task = Pieces.SingleOrDefault(x => x.ChessModel.Id == Payload.Id);

        if (task != null)
        {
            task.ChessModel.Position = newPosition;
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }
}
